Repository aironavt/global-shortcuts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "*.{js,jsx}": "eslint",
  "*.scss": "stylelint"
}

Added hover effect for all interactive elements
  src/styles/button-icon.scss
  src/styles/button-link.scss
  src/styles/checkbox.scss
  src/styles/code-editor.scss
  src/styles/form.scss
  src/styles/mixins.scss
  src/styles/select.scss
Due: stylelint

Added Russian localization
  .eslintrc
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/js/options/components/list/index.jsx
  src/js/options/components/list/item-list.jsx
  src/js/options/components/select/options.jsx
  src/js/options/components/shortcut-select/value-container.jsx
  src/js/options/forms/command/index.jsx
  src/js/options/index.jsx
  src/js/options/pages/create/index.jsx
  src/js/options/pages/edit/index.jsx
  src/js/options/pages/list/index.jsx
  src/manifest.json
  src/options.html
  webpack.config.js
Due: eslint

Added linting for locale files
  .lintstagedrc
  package-lock.json
  package.json
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
Due: none

Added extension icon
  src/images/icon.png
  src/images/icon.svg
  src/images/icon@2x.png
  src/images/icon@3x.png
  src/images/icon@8x.png
  src/manifest.json
  webpack.config.js
Due: eslint

Default locale changed
  src/manifest.json
Due: none

Sorted shortcut on chrome://extensions/shortcuts page in ascending order of number
  src/js/global-shortcuts.js
  src/js/options/index.jsx
  webpack.config.js
Due: eslint

Hide error messages in production
  src/js/global-shortcuts.js
Due: eslint

Update preact and fix propTypes errors
  package-lock.json
  package.json
  src/js/options/components/button-link/index.jsx
  src/js/options/components/list/index.jsx
  src/js/options/components/list/item-list.jsx
  src/js/options/components/select/index.jsx
  src/js/options/components/select/option.jsx
  src/js/options/components/select/options.jsx
  src/js/options/components/select/select.jsx
  src/js/options/enhancer/key-handler-list.jsx
  src/js/options/forms/command/index.jsx
  src/js/options/index.jsx
  webpack.config.js
Due: eslint

CodeEditor name changed
  src/js/options/forms/command/index.jsx
Due: eslint

Update README.md
  README.md
  images/banner.png
Due: none

Adding extension name to Russian localization
  package-lock.json
  package.json
  src/_locales/ru/messages.json
Due: none

Added archive creation during production build for publication in the Google Web Store
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

Moved links to external resources to a file with constants
  src/js/options/constants.js
  src/js/options/forms/command/index.jsx
  webpack.config.js
Due: eslint

Update README.md
  README.md
  images/global-shortcuts-logo.png
Due: none

Added autofocus to the first input field in the form of creating/editing commands. eslint package updates
  .eslintrc
  package-lock.json
  package.json
  src/js/global-shortcuts.js
  src/js/options/components/list/item-list.jsx
  src/js/options/components/select/option.jsx
  src/js/options/components/select/select.jsx
  src/js/options/forms/command/index.jsx
  src/js/options/pages/list/index.jsx
Due: eslint

Added additional conditions for triggering the script (example: does music play on the tab)
  README.md
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/js/global-shortcuts.js
  src/js/options/components/button-link/index.jsx
  src/js/options/components/checkbox/index.jsx
  src/js/options/components/conditions/index.jsx
  src/js/options/components/expansion-panel/index.jsx
  src/js/options/constants.js
  src/js/options/forms/command/index.jsx
  src/styles/app.scss
  src/styles/button-link.scss
  src/styles/cards.scss
  src/styles/checkbox.scss
  src/styles/expansion-panel.scss
Due: eslint, stylelint

Added way to exit from code edit using the keyboard shortcut
  README.md
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/js/options/components/code-editor/hotkey-info.jsx
  src/js/options/components/code-editor/index.jsx
  src/js/options/utils/index.js
  src/js/options/utils/is-mac.js
  src/styles/app.scss
  src/styles/code-editor.scss
  src/styles/hotkey.scss
Due: eslint, stylelint

Added CSS animation to lists and code editor footer
  src/styles/animation.scss
  src/styles/app.scss
  src/styles/code-editor.scss
  src/styles/expansion-panel.scss
  src/styles/select.scss
  src/styles/variables.scss
Due: stylelint

Upgrade dependencies
  package-lock.json
  package.json
  src/js/options/components/code-editor/index.jsx
  webpack.config.js
Due: eslint

Increased font size in code editor
  src/js/options/components/code-editor/index.jsx
Due: eslint

Bumped version number to 0.2.0
  package-lock.json
  package.json
Due: none

Unnecessary webNavigation permissions removed
  src/manifest.json
Due: none

Bumped version number to 0.2.1
  package-lock.json
  package.json
Due: none

Fixed typo in hotkeys for mac platform
  src/js/options/components/code-editor/index.jsx
Due: eslint

Dependabot configuration
  .github/dependabot.yml
Due: none

Fixed dropdown filter
  src/js/options/components/select/index.jsx
Due: eslint

Update dependencies
  .babelrc
  package-lock.json
  package.json
Due: none

Update TODO
  README.md
Due: none

Bumped version number to 0.2.2
  package-lock.json
  package.json
Due: none

Added form validation
  .eslintrc
  README.md
  src/_locales/en/messages.json
  src/_locales/ru/messages.json
  src/js/options/components/code-editor/index.jsx
  src/js/options/components/form/error-context.js
  src/js/options/components/form/form-field-errors.jsx
  src/js/options/components/form/form-field.jsx
  src/js/options/components/form/index.jsx
  src/js/options/forms/command/index.jsx
  src/styles/app.scss
  src/styles/code-editor.scss
  src/styles/form-field-errors.scss
  src/styles/form.scss
  src/styles/mixins.scss
  src/styles/variables.scss
Due: eslint, stylelint

Dependabot configuration removed
  .github/dependabot.yml
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Bumped version number to 0.2.3
  package-lock.json
  package.json
Due: none
